<header class="text-white body-font bg-[#045d5d] fixed w-full">
    <div class="container mx-auto flex flex-wrap py-3 px-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img class="invert object-cover w-11" src="images/neos-brands.svg" alt="">
            <span class="ml-3 text-xl text-white">News Monkey</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="/home"
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d]  cursor-pointer">Home</a>
            <a href="/business"
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d] cursor-pointer">Business</a>
            <a href="/entertainment"
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d] cursor-pointer">Entertainment</a>
            <a href="/health"
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d] cursor-pointer">Health</a>
            <a href="/science"
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d] cursor-pointer">Science</a>
            <a href="/sports"
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d] cursor-pointer">Sports</a>
            <a href="/technology"
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d] cursor-pointer">Technology</a>
            <a href="/covid" 
                class="mr-5 px-4 py-2 hover:underline hover:bg-white hover:rounded-full hover:text-[#045d5d] cursor-pointer">Covid</a>

        </nav>

    </div>
</header>